@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

*{

font-family: 'Outfit', sans-serif;
margin: 0;
padding: 0;

}

body{

  background-color:  hsl(217, 54%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;


  width: 100vw;
  height: 100vh;

}

.card{

display: flex;
flex-direction: column;

width: 20%;
justify-content: center;

background-color: hsl(216, 50%, 16%);
padding: 20px;
border-radius: 10px;

}

.card-image{

width: 100%;
border-radius: 10px;
align-self: center;


}

p{
align-self: center;
width: 100%;



}

.items{

display: flex;
justify-content: space-between;

}

.author{

display: flex;




}