@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap");


@media (min-width: 1000px) {


  .card {



    width: 20%;
  }

body{


  padding: 20px 0;

}

}




@media(min-width: 700px) and (max-width:1000px) {


  .card {

    width: 40%;

  }

  body {
    padding: 20px;
    row-gap: 20px;

  }



}


@media(max-width: 700px) {


  .card {

    width: 70%;

  }

  body {
    padding: 20px;
    row-gap: 20px;

  }


}



* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;

  min-height: 100vh;
  flex-wrap: wrap;
  overflow-x: hidden;

}

.card {
  display: flex;
  flex-direction: column;

  justify-content: center;

  background-color: hsl(216, 50%, 16%);
  padding: 20px;
  border-radius: 10px;
  transition: 500ms;
  row-gap: 14px;

  -webkit-box-shadow: 0px 0px 58px -6px rgba(4,6,10,1);
-moz-box-shadow: 0px 0px 58px -6px rgba(4,6,10,1);
box-shadow: 0px 0px 58px -6px rgba(4,6,10,1);
}

.card:hover {

  transform: translateY(-20px);
  transition: 500ms;
  background-color: hsl(214, 49%, 19%);


}

.img {
  width: 100%;
  align-self: center;

  position: relative;




}


.card-image {
  width: 100%;
  border-radius: 10px;

}

.verde {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(178, 100%, 50%);
  opacity: 70%;
  border-radius: 10px;
  display: none;


}




.eye {

  left: 50%;
  margin-left: -50px;
  top: 50%;

  position: absolute;

  transform: translate(50%);


  display: none;
}


.img:hover .eye {


  display: block;
  cursor: pointer;


}

.img:hover .verde {


  display: block;
  cursor: pointer;



}



p {
  align-self: center;
  width: 100%;
}

.items {
  display: flex;
  justify-content: space-between;
}

.author {
  display: flex;
  width: 100%;
  align-items: center;
}

.author span {

  color: hsl(215, 51%, 70%);
}

.author span .name {

  color: hsl(0, 0%, 100%);
  font-weight: 500;

}

hr {

  width: 100%;
  height: 0.5px;
  border: 0px;

  background-color: hsl(215, 51%, 70%);


}



.avatar {
  width: 10%;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  margin-right: 10px;
}

.title {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 22px;
  transition: 500ms;
}

.title:hover {

  color: hsl(178, 100%, 50%);
  cursor: pointer;
  transition: 500ms;


}

.description {
  color: hsl(215, 51%, 70%);
  font-size: 16px;
  font-weight: 300;
}

.ethereum {
  display: flex;
  align-items: center;
  color: hsl(178, 100%, 50%);
}

.ethereum img {
  margin-right: 10px;
}

.time {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

.time img {
  margin-right: 10px;
}

.atributtion {

  display: flex;

}